.App {
  /* display: flex; */
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.list {
  margin: 10px;
  padding: 5px;
  border-radius: 30%;
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
  background-color: lightsalmon;
}
.listcompleted {
  text-decoration: line-through;
  background-color: lightpink;
}
.tasks {
  display: flex;
  justify-content: center;

}
button {
  width: 80px;
  height: 50px;
  margin: 10px;
  padding: 5px 5px;
  background-color: black;
  color: white;
  font-weight: bolder;

}
#addbutton {
  background-color: cornflowerblue;
  border: none;
  width: 100px;
  height: 50px;
}
#taskinput {
  padding: 10px;
  width: 200px;
}
